<!--  Author: Matthew Dutton -->

<launch>	
  <arg name="debug" default="false"/>
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  
  <node pkg="robo_dog" name="FilterRGBD" type="FilterRGBD" output="screen">
    <remap from="~/in" to="/camera/rgb/points" />
  </node>
</launch>

